.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #f0f4c3;
  transition: background-color 0.3s;
}

.App:hover {
  background-color: #fff59d;
}

.player-card {
  flex: 1 1 calc(20% - 40px);
  box-sizing: border-box;
  margin: 20px;
}

@media (max-width: 1200px) {
  .player-card {
    flex: 1 1 calc(25% - 40px);
  }
}

@media (max-width: 992px) {
  .player-card {
    flex: 1 1 calc(33.333% - 40px);
  }
}

@media (max-width: 768px) {
  .player-card {
    flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .player-card {
    flex: 1 1 100%;
  }
}
